/nbproject/private/
/build/
/dist/
/Bibliotecas/activation-1.1.jar
/Bibliotecas/javax.mail-1.5.6.jar
/Bibliotecas/commons-email-1.5.jar
/jsoup-1.12.1.jar
/json-20140107.jar
/Bibliotecas/jsoup-1.12.1.jar
/Bibliotecas/json-20140107.jar
/lib/beansbinding-1.2.1.jar
/lib/mysql-connector-java-8.0.17.jar